@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&amp;display=swap');

@import url(bootstrap.min.css);
@import url(jquery.fancybox.min.css);
@import url(icofont.min.css);



* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: GoogleSansReg;
  src: url(ProductSans-Regular.ttf);
}

@font-face {
  font-family: GoogleSansMed;
  src: url(ProductSans-Medium.ttf);
}

@font-face {
  font-family: GoogleSansBold;
  src: url(ProductSans-Bold.ttf);
}

body {
    font-family: 'GoogleSansBold', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #777;
}

.all-area {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #444;
    margin-bottom: 0;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #00cff2;
}

a,
a:hover,
a:focus,
.btn:focus,
.btn:hover {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

img {
    height: auto;
    max-width: 100%;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
    background: #007bff !important;
    border-radius: 5px;
    padding: 18px 34px;
}

.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

