body {
    font-family: Google Sans;
    color: #212121;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar {
    transition: 0.3s;
}
.navbar.has-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}
.pageloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/google-dots.gif') no-repeat center center;
}
footer a {
    color: #212121;
    text-decoration: none;
}
