@media (max-width: 800px) {
  .team .column {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      flex-basis: 50% !important;
 }
}
@media (max-width: 600px) {
  .team .column {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      flex-basis: 50% !important;
 }
}
.team .column::before, .team .column::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.team .column::before {
  border-bottom-width: medium;
  border-left-width: medium;
}
.team .column::after {
  border-top-width: medium;
  border-right-width: medium;
}
.team .column:hover::before, .team .column:hover::after {
  border-bottom-color: #4285F4;
  border-top-color: #DB4437;
  border-right-color: #F4B400;
  border-left-color: #0F9D58;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  width: 100%;
  height: 100%;
}
.team .column:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.team .column:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.team .column {
  float: left;
  opacity: 1;
  flex: 0 0 33.3%;
  padding: 10px;
  height: 360px;
  background: #FFF;
  border: 1px solid #E2E9ED;
  box-shadow: 0 0 0 1px #E2E9ED;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}
.team .column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.team .column:hover .social {
  margin: 16px 0 0;
  opacity: 1;
}
.team .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent;
}
.team .container {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto 0px auto;
  padding: 0 0px;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.team .member {
  position: relative;
  top: 160px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}
.team .photo {
  width: 170px;
  height: 170px;
  margin: 20px auto 20px;
  overflow: hidden;
}
.team .photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.team .name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.team .info {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.team .social {
  margin: 0 0 -18px;
  opacity: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.team .item {
  display: inline-block;
  margin: 10px 10px;
}
.team .item a {
  display: block;
}
.team .item img {
  fill: #515F65;
  display: block;
  height: 30px;
  transition: fill 0.2s ease;
}
.team .item img:hover {
  fill: #788D96;
}
